<ion-list class="more-info-popover"> 

            <button class="pop-item" ion-item (tap)="uploadPending()">
                <ion-row>
                    <ion-col class="pop__icon" col-2><ion-icon name="cloud-upload"></ion-icon></ion-col>
                    <ion-col class="pop__data">
                        <div class="control">Pending Uploads:</div>
                        <div>{{pendingCount}} scans</div>
                    </ion-col>
                </ion-row>
            </button>

            <div class="pop-item title" ion-item *ngIf="(prevSession.Topic || nextSession.Topic)  && !locked">
                <ion-row>
                    <ion-col col-2></ion-col>
                    <ion-col>
                        <div class="pop-session-header">Sessions in this Room:</div>
                    </ion-col>
                </ion-row>
            </div>

            <button ion-item class="pop-item session" (tap)="goToSession('prev')" *ngIf="prevSession.Topic  && !locked">
                <ion-row>                
                    <ion-col class="pop__icon" col-2><ion-icon name="ios-arrow-dropleft"></ion-icon></ion-col>
                    <ion-col class="pop__data">
                        <div class="control" style="display:none;">Previous:</div>
                        <div class="title">{{prevSession.Topic}}</div>
                        <div class="date">{{prevSession.DisplayStartDate}}</div>
                        <div class="time">{{prevSession.StartTime}}</div>
                    </ion-col>                
                </ion-row>
            </button>

            <button ion-item class="pop-item session" (tap)="goToSession('next')" *ngIf="nextSession.Topic && !locked">
                <ion-row>                
                    <ion-col class="pop__icon" col-2><ion-icon name="ios-arrow-dropright"></ion-icon></ion-col>
                    <ion-col class="pop__data">
                        <div class="control" style="display:none;">Next:</div>
                        <div class="title">{{nextSession.Topic}}</div>
                        <div class="date">{{nextSession.DisplayStartDate}}</div>
                        <div class="time">{{nextSession.StartTime}}</div>
                    </ion-col>                
                </ion-row>
            </button>
</ion-list>

<div>
    