password-prompt {
    // Custom Password Modal
    .custom-modal {
        animation: fade-in 0.3s ease-in-out;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .custom-modal-wrapper {
            margin-top: 11%;
            width: 80%;
            min-width: 250px;
            max-width: 280px;
            max-height: 90%;
            background-color: #fafafa;
            box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);

            .modal-head {
                padding: 24px 24px 20px 24px;
                text-align: left;

                h2 {
                    font-size: 22px;
                    margin: 0;
                    padding: 0;
                }
            }

            .modal-msg {
                max-height: 240px;
                font-size: 15px;
                padding: 0 24px 24px 24px;
                color: rgba(0,0,0,0.5);
            }

            .modal-input {
                padding: 0 24px 24px 24px;
                color: rgba(0,0,0,0.5);

                input {
                    border-bottom: 1px solid #dedede;
                    color: #000;
                    margin: 5px 0 5px 0;
                    padding: 10px 0;
                }

                input:focus {
                    border-bottom: 2px solid color($colors, p-primary);
                }

                
            }

            .modal-input.has-error {
                input {
                    border-bottom: 2px solid color($colors, p-danger);
                }
            }

            .modal-actions {
                padding: 8px 8px 8px 24px;
                display: flex;
                justify-content: flex-end;
                flex-direction: row;

                button {
                    font-size: 115%;
                }
            }
        }
    }
}