page-session-detail {
    .content-md {
        background-color: #e5e5e5;
    }

    .detail__scans_dates {

        .detail__scans {
            line-height: 1.3;
            background-color: color($colors, p-primary);
            color: color($colors, p-text);
            border-right: 1px solid color($colors, p-divider);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .detail__scans__num {
                font-size: 3rem;
            }
        }
        
        .detail__times {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h2 {
                font-weight: bold;
                font-size: 2.1rem;                
            }

            p {
                line-height: 1.2;
                font-size: 1.8rem;
                color: #666;
            }

            p:first-child {
                padding-top: 3px;
            }
        }
    }

    

    .detail__title {

        ion-item {
            padding-left: 10px;
        }

        h1 {
            white-space: normal;
            font-size: 2.2rem;
        }

        p {
            font-size: 2rem;
            margin-top: 4px;
            margin-bottom: 0;
        }
    }    

    .detail__footer {
        button {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 1.6em;
        }
    }    

    .session-detail-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}
