<ion-header>
  <ion-navbar color="p-primary-dark" padding-top hideBackButton="{{session.isLocked}}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="scan__nav__title"><ion-icon name="ios-key-outline" *ngIf="session.AccessControl"></ion-icon> Scan</ion-title>
    <ion-buttons end class="navbar-btns">
      <button ion-button icon-only (click)="toggleCamera()">
        <ion-icon name="reverse-camera"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="camera-content-container">
    <ion-card class="current-scan-details" id="target-bottom">
      <ion-row>
        <ion-col col-3 text-center class="scan-numbers" stretch (click)="toggleScanNumbers()">
          <div *ngIf="showLocalScans" class="scan-number">{{scannedCount}}</div>
          <div *ngIf="showLocalScans" center>scans</div>
          <div *ngIf="!showLocalScans" class="scan-number">{{globalCount}}</div>
          <div *ngIf="!showLocalScans" center>total unique</div>
        </ion-col>
        <ion-col class="scan-info" padding-left>
          <h2>{{session.Topic}}</h2>
          <p class="date">{{session.DisplayStartDate}}</p>
          <p class="range-date" *ngIf="session.DisplayRangeDate">{{session.DisplayRangeDate}}</p>
          <p class="time">{{session.StartTime}} - {{session.EndTime}}</p>
        </ion-col>
      </ion-row>
    </ion-card>
    
    <div id="camera-target"></div>
  </div>  
</ion-content>

<ion-footer class="scan-footer">
  <ion-toolbar color="p-primary">
    <ion-title>{{session.Location}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="refreshAccessList()" *ngIf="session.AccessControl" class="m-r-10">
        <span class="ac-count">{{accessListCount}}</span><ion-icon name='refresh'></ion-icon>
      </button>
      <button ion-button icon-only (click)="openPasswordModal()">
        <ion-icon name='{{session.isLocked ? "ios-lock" : "ios-unlock-outline"}}'></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<password-prompt *ngIf="openPassword" (promptCancel)="promptCancelled()" (promptUnlock)="promptUnlocked()"></password-prompt>
<div class="backdrop-flash accepted" [hidden]="!showAcceptedBackground"></div>
<div class="backdrop-flash denied" [hidden]="!showDeniedBackground"></div>